.footer-section {
  background-color: #000;
  color: #fff;
}

.custom-color {
  color: #3e82c5;
}

.store-img {
  height: 40px;
}

.social-icon {
  color: white;
  margin-right: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.social-icon:hover {
  color: #3e82c5;
}

.footer-link {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.footer-link:hover {
  color: #3e82c5;
}

