.GalleryBox{

    height: 400px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.GalleryBox2{
    height: 300px;
    width: 85%;
    background-color: aqua;
}
.G1
{
     height: 75px;
    width: 100%;
    background-color: #7F0000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.G2
{
     height: 225px;
    width: 100%;
   background: linear-gradient( 50deg,#C1C1C3 ,white );                            
}
.GalleryCard{
 height: 160px;   
width: 18%;
box-shadow: 10px 10px  20px white;
margin-top: 18px;
margin-left: 15px;
float: left;
    
  }
  .GalleryImg{
    min-height: 115px;
width: 100%;
float: left;
  }

